In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model,logistic
path = r"E:\DYPIU\SEM 6\KDD\KDD LABS\LAB_05\kc_house_data.csv"
df = pd.read_csv(path)
df

          price  bedrooms  sqft_living  floors
0      221900.0         3         1180     1.0
1      538000.0         3         2570     2.0
2      180000.0         2          770     1.0
3      604000.0         4         1960     1.0
4      510000.0         3         1680     1.0
...         ...       ...          ...     ...
21608  360000.0         3         1530     3.0
21609  400000.0         4         2310     2.0
21610  402101.0         2         1020     2.0
21611  400000.0         3         1600     2.0
21612  325000.0         2         1020     2.0

[21613 rows x 4 columns]

# Linier Regression

In [10]:
lin_reg = linear_model.LinearRegression()
#training model 
lin_reg.fit(df.drop('price',axis='columns'),df.price)

#prediction 

#Find price of home having 3 bedroom , 1000 sqft and 3rd floor
lin_reg.predict([[3,1000,3]])

array([227716.62570043])

# Logistic Regression

In [ ]:
lin_reg = linear_model.LinearRegression()
#training model 
lin_reg.fit(df.drop('price',axis='columns'),df.price)

#prediction 

#Find price of home having 3 bedroom , 1000 sqft and 3rd floor
lin_reg.predict([[3,1000,3]])